body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #828181;
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    color: #404040;
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 35px;
}

p {
    font-family: "Quicksand", sans-serif;
    color: #828181;
    font-size: 14px;
    line-height: 24px;
}

$primary-color: #007bff;

/*-------------------------------*/
/*        Navbar
/*-------------------------------*/
.navbar {
    padding: 10px 0 10px;
    background: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .navbar-brand {
        color: rgb(0, 0, 0);
        margin-left: 10px;

        .logoTxt {
            display: inline-block;
            width: 200px;
            height: 50px;
            color: #ffffff;
            line-height: 2;

            .txt {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: $primary-color;
                color: #ffffff;
                line-height: 1.5;
                padding: 2px;
                text-align: center;
                font-size: 15px;
                border-radius: 50%;
                border: 2px solid $primary-color;
                font-weight: 600;
            }

            .txt2 {
                color: $primary-color;
                font-size: 20px;
                display: inline-block;
                margin-left: 3px;
                font-weight: 600;
            }
        }

    }

    .navbar-toggler {
        color: #333333;
        border-color: rgba(255, 255, 255, .1);
        margin-right: 10px;

        &:focus,
        &:hover {
            outline: none;
        }

        .fas {
            color: #000912;
        }
    }

    .navbar-nav {
        text-align: center;

        .nav-item {
            .gtStart {
                padding: 6px 28px;
            }

            .nav-link {
                color: #404040;
                font-weight: 500;
            }
        }

        .nav-item:not(:last-child) .nav-link {
            margin-right: 30px;
        }
    }

    .navbar-toggler {
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background: rgb(80, 80, 80);
            margin-top: 4px;
        }
    }
}

/*-------------------------------*/
/*        Header
/*-------------------------------*/
.header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 120px 0;
    background-image: url(../images/header-bg.jpg);

    .wraper {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .item {
            height: 100vh !important;
            width: 100%;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                // background: rgba(0, 0, 0, .75);
                z-index: 4
            }
            .header-txt{
                margin-top: 200px;
            }
            .header-img{
                margin-top: 120px;
                img{
                    width: 100%;
                }
            }
        }
    }
}