body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #828181;
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    color: #404040;
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 35px;
}

p {
    font-family: "Quicksand", sans-serif;
    color: #828181;
    font-size: 14px;
    line-height: 24px;
}

$primary-color: #2a57e6;

@mixin margin($position, $value) {
    margin-#{$position}: $value;
}

.btn {
    background: $primary-color;
    color: #ffffff;
}

.active {
    color: #0b3feb !important;
}

/*-------------------------------*/
/*        Navbar
/*-------------------------------*/
%logoTxt {
    display: inline-block;
    width: 200px;
    height: 50px;
    color: #ffffff;
    line-height: 2;

    .txt {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: $primary-color;
        color: #ffffff;
        line-height: 1.5;
        padding: 2px;
        text-align: center;
        font-size: 15px;
        border-radius: 50%;
        border: 2px solid $primary-color;
        font-weight: 600;
    }

    .txt2 {
        color: $primary-color;
        font-size: 20px;
        display: inline-block;
        @include margin(left, 3px);
        font-weight: 600;
    }
}


.navbar {
    padding: 6px 0;
    background: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .navbar-brand {
        color: rgb(0, 0, 0);
        @extend %logoTxt;

        @media screen and (max-width: 576px) {
            margin-left: 15px;
        }
    }

    .navbar-toggler {
        color: #333333;
        border-color: rgba(255, 255, 255, .1);
        @include margin(right, 10px);

        &:focus,
        &:hover {
            outline: none;
        }

        .fas {
            color: #000912;
        }
    }

    .navbar-nav {
        @media screen and (max-width: 576px) {
            text-align: center;
            padding: 20px 0;
            background-color: #fff;
            font-size: 18px;
        }

        .nav-item {
            @media screen and (max-width: 576px) {
                padding: 12px 0;
            }

            .gtStart {
                padding: 6px 28px;
                background: #fff;
                color: $primary-color;
                transition: 0.5s;

                &:hover {
                    background: $primary-color;
                    color: #fff;
                }

                @media screen and (max-width: 576px) {
                    @include margin(right, 20px);
                    font-size: 18px;
                }
            }

            .nav-link {
                color: #404040;
                font-weight: 500;

                &:hover {
                    color: #0b3feb;
                    // font-weight: bold;
                }
            }
        }

        .nav-item:not(:last-child) .nav-link {
            @include margin(right, 30px);

            // @media screen and (max-width: 769px) {
            //     @include margin(right, 8px);
            // }
        }
    }

    .navbar-toggler {
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background: rgb(80, 80, 80);
            @include margin(top, 4px);
        }
    }
}
/*-------------------------------*/
/*        Preloader
/*-------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a57e6;
    z-index: 9999;
    /* makes sure it stays on top */
  }
  
  .pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  
  .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

/*-------------------------------*/
/*      Sticky Navbar
/*-------------------------------*/
.nav-scroll {
    background: #fff;
    padding: 6px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #000000;
    box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);

    .navbar-nav {
        .nav-item {
            .gtStart {
                background: $primary-color;
                color: #fff;
            }

            .nav-link {
                color: #111 !important;
                ;
            }
        }
    }

    .navbar-toggler .icon-bar {
        background: #111
    }
}





/*-------------------------------*/
/*        Header
/*-------------------------------*/
.header {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/header-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: 576px) {
        background-image: none;
        height: 700px;
    }

    @media screen and (max-width: 770px) {
        height: 105vh;
    }

    .wraper {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;


        .item {
            .header-txt {
                @include margin(top, 200px);

                @media screen and (max-width: 770px) {
                    margin-top: 30px;
                    text-align: center;
                }

                h1 {
                    font-size: 55px;
                    @include margin(bottom, 20px);

                    @media screen and (max-width: 576px) {
                        font-size: 30px;
                        text-align: center;
                    }

                    @media screen and (max-width: 770px) {
                        font-size: 55px;
                    }
                }

                p {
                    @include margin(bottom, 20px);

                    @media screen and (max-width: 576px) {
                        font-size: 16px;
                        text-align: center;
                    }
                }

                span {
                    color: $primary-color;
                }

                a {
                    padding: 12px 20px;
                    display: inline-block;

                    @media screen and (max-width: 576px) {
                        margin: auto;
                        display: block;
                        font-size: 18px;
                    }
                }

                @media screen and (max-width: 576px) {
                    @include margin(top, 20px);
                }
            }

            .header-img {
                @include margin(top, 120px);

                @media screen and (max-width: 576px) {
                    @include margin(top, 70px);
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

/*-------------------------------*/
/*        Brand
/*-------------------------------*/
.brands {
    padding: 70px 0;
    background: #f9fbfe;

    .owl-carousel {
        .item {
            img {
                display: block;
                width: auto !important;
                margin: auto;
            }
        }
    }
}

/*-------------------------------*/
/*        About Section
/*-------------------------------*/
%heading-txt {
    width: 54%;
    margin: auto;
    text-align: center;

    p {
        width: 65%;
        margin: auto;
    }
}

%about-section {
    background-image: url(../images/about-bg.jpg);
    background-size: cover;

    .video-icon {

        i {
            position: absolute;
            top: 51%;
            left: 43%;
            font-size: 50px;
            color: $primary-color;
        }
    }

    .about-txt {
        @extend %heading-txt;

        @media screen and (max-width: 576px) {
            width: 100%;
        }

        @media screen and (max-width: 770px) {
            width: 80%;
        }

        h2 {
            font-weight: 600;
            line-height: 1.3;

            @media screen and (max-width: 576px) {
                font-size: 22px;
            }
        }

        span {
            color: $primary-color;
        }

        p {
            width: 65%;
            margin: auto;

            @media screen and (max-width: 576px) {
                width: 79%;
            }
        }
    }

    .about-img {
        @include margin(top, 45px);

        @media screen and (max-width: 576px) {
            @include margin(top, 20px);
        }

        img {
            width: 100%;
        }
    }

    .about-txt2 {
        @include margin(top, 90px);

        @media screen and (max-width: 576px) {
            @include margin(top, 20px);
        }

        h2 {
            margin: 10px 0;

            @media screen and (max-width: 576px) {
                font-size: 22px;
            }
        }

        small {
            color: $primary-color;
            font-size: 14px;
            font-weight: bold;
        }

        a {
            padding: 12px 20px;
        }
    }
}

.about {
    padding: 90px 0px 95px;
    @extend %about-section;

    @media screen and (max-width: 576px) {
        background-image: none;
        padding: 50px 0px;
    }
}

/*-------------------------------*/
/*        Our Services
/*-------------------------------*/
.services {
    padding: 85px 0 50px;
    background-image: url(../images/service-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 576px) {
        background-image: none;
        padding: 18px 0 15px;
    }

    .service-header-txt {
        @extend %heading-txt;

        @media screen and (max-width: 576px) {
            width: 90%;
        }

        h2 {
            line-height: 1.4;

            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }

        small {
            color: $primary-color;
            font-weight: bold;
            font-size: 14px;
        }

        p {
            width: 55%;
            margin: auto;

            @media screen and (max-width: 576px) {
                width: 85%;
            }
        }
    }

    .service-box {
        padding: 40px 0;

        @media screen and (max-width: 576px) {
            padding: 10px;
        }

        .service-content {
            transition: 0.5s;
            padding: 25px;
            text-align: center;
            box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
            border-radius: 8px;
            margin: 15px;
            background: #fff;

            .icon-wrap {
                color: #2c57e4;
                font-size: 30px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px 0px;

                i {
                    z-index: 2;
                    font-size: 35px;
                }
            }

            svg {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 33%;
            }

            .servivce-txt {
                padding: 0 0 15px;
                transition: 0.5s;

                h4 {
                    font-size: 22px;
                }

                a {
                    font-weight: bold;
                    text-decoration: none;
                    display: inline-block;
                    color: #2c57e4;

                    &::after {
                        content: '';
                        display: block;
                        width: 30%;
                        height: 2px;
                        background: #2c57e4;
                        transition: width .3s;
                        margin: auto;

                    }

                }
            }

            &:hover a {
                color: #fff;

                &::after {
                    width: 100%;
                    background: #ffffff;
                }
            }

            &:hover {
                background: $primary-color;

                .servivce-txt {

                    h4,
                    p {
                        color: #fff;
                    }
                }
            }
        }
    }

    .owl-theme .owl-dots .owl-dot {
        &:focus {
            outline: none;
        }
    }
}

/*-------------------------------*/
/*       Testimonial Section
/*-------------------------------*/
%testimonial-section {

    .testimonial-headTxtImg {
        @include margin(top, 30px);

        small {
            color: $primary-color;
            font-weight: bold;
            font-size: 14px;
        }

        h2 {
            padding: 8px 0;
            line-height: 1.3;

            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }

        .t-image {
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    // @include margin(right, 5px);

                    @media screen and (max-width: 576px) {
                        @include margin(right, 0px);
                        width: 64px;
                    }

                    a {
                        text-decoration: none;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

        }

    }

    .testimonial-txt {
        background-image: url(../images/t-slider-bg.png);
        background-size: 100% 100%;

        .textmoTxt {
            padding: 110px;
            @include margin(top, 30px);

            @media screen and (max-width: 576px) {
                padding: 25px;
                @include margin(top, 75px);

                p {
                    font-size: 12px;
                }
            }

            .testDetail {
                h5 {
                    @media screen and (max-width: 576px) {
                        font-size: 18px;
                        @include margin(left, 10px);
                    }
                }

                p {
                    @media screen and (max-width: 576px) {
                        font-size: 10px;
                        @include margin(left, 20px);
                    }
                }
            }
        }

        .owl-theme .owl-nav {
            position: absolute;
            top: 60%;
            left: 60%;

            &:hover {
                background: transparent !important;
                color: #333333 !important;
            }

            button {
                i {
                    font-size: 30px;

                    @media screen and (max-width: 576px) {
                        font-size: 20px;
                    }
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                    color: #333333;
                    outline: none;
                }


            }

            @media screen and (max-width: 576px) {
                position: absolute;
                top: 75%;
                left: 40%;
            }
        }
    }
}

.testimonial {
    background-image: url(../images/testimonial-bg.jpg);
    padding: 85px 0;
    @extend %testimonial-section;

    @media screen and (max-width: 576px) {
        padding: 0px 0px 50px;
    }

    @media screen and (max-width: 770px) {
        margin-top: 30px;
        text-align: center;
        width: 70%;
        margin: auto;

    }
}

/*-------------------------------*/
/*       Portfolio Section
/*-------------------------------*/
%portfolio-team {
    background-repeat: no-repeat;
    background-size: cover;
    // background: #f7fbfe;

    @media screen and (max-width: 576px) {
        background-image: none;
        padding: 70px 0 30px;
    }

    .portfolio-headerTxt {
        @extend %heading-txt;

        .title {
            color: $primary-color;
            font-weight: bold;
        }

        p {
            width: 70%;
            margin: auto;
        }

        h2 {
            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }

        @media screen and (max-width: 576px) {
            width: 90%;
        }
    }

    .portfolio-images {
        padding: 37px 0;

        .card {
            box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
        }

        .card-body {
            padding: 18px;
            text-align: center;
            box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);

            p {
                margin-bottom: 0;
            }

        }

        a {
            padding: 12px 20px;
            margin: 35px auto;
            display: block;
            width: 135px;
        }
    }

}

.portfolio {
    padding: 80px 0 30px;
    background-image: url(../images/portfolio-bg.jpg);
    @extend %portfolio-team;

}

/*-------------------------------*/
/*       Price & Plan Section
/*-------------------------------*/
%price-section {
    background-image: url(../images/price-bg.jpg);
    background-size: contain;

    .plan-txt {
        .title {
            color: $primary-color;
            font-weight: bold;
            margin-top: 35px;
        }

        h2 {
            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }

        a {
            padding: 12px;
        }
    }

    .price1 {
        padding: 30px;
        box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
        border-right: 3px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        border-radius: 10px;

        @media screen and (max-width: 576px) {
            @include margin(top, 30px);
        }

        .title {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px;

            i {
                font-size: 30px;
                color: $primary-color;
            }

            h4 {
                color: $primary-color;
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
            }
        }

        h2 {
            font-size: 30px;
            font-weight: bolder;

            span {
                font-size: 18px;
                color: #828181;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            @include margin(top, 20px);

            li {
                @include margin(top, 5px);
                font-size: 14px;
                color: #828181;
                font-weight: 500;
            }
        }

        p {
            @include margin(top, 50px);

            span {
                color: red;
                font-weight: bold;
            }
        }
    }
}

.price-plan {
    padding: 72px 0 95px;
    @extend %price-section;

    @media screen and (max-width: 576px) {
        padding: 0px 0 60px;
    }
    .media-margin{
        @media screen and (max-width: 770px) {
            margin-top: 50px;
        } 
    }
}


/*-------------------------------*/
/*       News Post Section
/*-------------------------------*/
.news-post {
    padding: 0 0 100px;
    background-image: url(../images/news-bg.jpg);

    @media screen and (max-width: 576px) {
        padding: 0 0 60px;
    }

    .news-post-headerText {
        @extend %heading-txt;

        @media screen and (max-width: 576px) {
            width: 90%;
        }

        h2 {
            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }

        .title {
            color: $primary-color;
            font-weight: bold;
        }

        p {
            width: 65%;
            margin: auto;

            @media screen and (max-width: 576px) {
                width: 75%;
            }
        }
    }

    .news-content {

        .card {
            overflow: hidden;
            transition: 0.5s;

            img {
                overflow: hidden;
                transition: 0.5s;
            }
        }

        .news-details {
            margin-top: 52px;
            box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);

            .card-body {
                .dt {
                    color: $primary-color;
                }

                a {
                    color: $primary-color;
                    font-weight: bold;
                    text-decoration: none;

                    &::after {
                        content: "";
                        width: 8%;
                        height: 2px;
                        background: $primary-color;
                        display: block;
                        transition: 0.5s;
                    }
                }
            }

            &:hover {
                .card-body {
                    a {
                        &::after {
                            content: "";
                            width: 28%;
                            height: 2px;
                            background: $primary-color;
                            display: block;
                        }
                    }

                    h5 {
                        color: $primary-color;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/*-------------------------------*/
/*       Footer Section
/*-------------------------------*/
.footer {
    padding: 70px 0 1px;
    // background-image: url(../images/footer-bg.jpg);
    background: #f7fbfe;

    @media screen and (max-width: 576px) {
        background-image: none;
        padding: 35px 0 0;
    }

    .footer-content1 {
        p {
            padding: 8px 0;
            @include margin(right, 20px);
        }

        .footer-logo {
            @extend %logoTxt;
        }

        .footer-icons {
            @include margin(top, 25px);

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li:not(:first-child) {
                    @include margin(left, 15px);
                }

                li {
                    float: left;

                    a {
                        text-decoration: none;
                        display: inline-block;

                        i {
                            background: #e6ecfc;
                            padding: 12px;
                            border-radius: 50%;
                            color: #333333;
                            transition: 0.5s;

                            &:hover {
                                background: $primary-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

    }

    .footer-heading {
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0 23px;

        @media screen and (max-width: 576px) {
            font-size: 20px;
            @include margin(top, 40px);
        }
    }

    .footer-content2 {
        h5 {
            @extend .footer-heading;

        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                @include margin(top, 7px);

                a {
                    text-decoration: none;
                    color: #828181;
                    transition: 0.4s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .footer-content3 {
        h5 {
            @extend .footer-heading;
        }

        p {
            margin-bottom: 30px;
        }

        .input-group {
            input {
                box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
            }

            .input-group-append {
                .input-group-text {
                    background: $primary-color;
                    border-color: $primary-color;
                }

                a {
                    text-decoration: none;

                    i {
                        font-size: 20px;
                        color: #ffffff;
                    }
                }

            }
        }
    }

    .footer-txt {
        text-align: center;
        padding: 20px 0 5px;
        @include margin(top, 100px);
        border-top: 1px solid rgb(243, 242, 242);

        @media screen and (max-width: 576px) {
            @include margin(top, 60px);
        }
    }
}

.scroll-top {
    width: 44px;
    line-height: 44px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: none;
    background: #2c57e4;
    border-radius: 3px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    transition: .2s ease-in-out;
}

/*--------------------------------********************------------------------*/
/*                                   About Us Page
/*--------------------------------********************------------------------*/
.header2 {
    height: 400px;
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
    background-image: url(../images/page-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

    .head-txt {
        margin-top: 130px;
        text-align: center;

        h1 {

            font-size: 45px;

            @media screen and (max-width: 576px) {
                font-size: 40px;
            }

            span {
                color: $primary-color;
            }
        }

        p {
            font-size: 16px;
            color: $primary-color;
            font-weight: bold;
            margin-top: 10px;

            a {
                text-decoration: none;
                color: #333333;
            }
        }
    }
}

.about-about-section {
    padding: 90px 0 50px;
    @extend %about-section;
}

.about-mission-vision {
    padding: 0 0 78px;

    .abt-mis-vis-content {
        .title {
            color: $primary-color;
            margin-bottom: 5px;
            font-weight: bold;
        }

        h2 {
            padding: 0 0 20px;

            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }
    }
}

.our-team {
    padding: 92px 0 0px;
    @extend %portfolio-team;
}

/*--------------------------------********************------------------------*/
/*                                    Services Page Section
/*--------------------------------********************------------------------*/
.service-detail {
    padding: 70px 0 8px;

    .service-header-txt {
        @extend %heading-txt;
        margin-bottom: 30px;

        @media screen and (max-width: 576px) {
            width: 90%;
        }

        @media screen and (max-width: 770px) {
            width: 80%;
        }

        h2 {
            line-height: 1.4;

            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }

        p {
            width: 55%;
            margin: auto;

            @media screen and (max-width: 576px) {
                width: 85%;
            }
        }
    }

    .service-content {
        transition: 0.5s;
        padding: 25px;
        text-align: center;
        box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
        border-radius: 8px;
        margin-top: 25px;

        &:hover {
            background: $primary-color;

            h4,
            p {
                color: #fff;
            }

            .servivce-txt {
                a {
                    color: #fff;
                    transition: 0.5s;

                    &::after {
                        width: 25%;
                        background-color: #ffffff;
                    }
                }
            }

        }

        .icon-wrap {
            color: $primary-color;
            font-size: 30px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0px;

            i {
                z-index: 2;
                font-size: 35px;
            }

            svg {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 30%;
            }
        }

        .servivce-txt {
            padding: 0 0 15px;
            transition: 0.5s;

            h4 {
                font-size: 22px;
            }

            a {
                color: $primary-color;
                font-weight: bold;
                text-decoration: none;

                &::after {
                    content: '';
                    display: block;
                    margin: auto;
                    width: 8%;
                    height: 2px;
                    background-color: $primary-color;
                    transition: 0.5s;

                }
            }
        }
    }
}

.service-price-section {
    padding: 0 0 95px;
    @extend %price-section;
}

/*--------------------------------********************------------------------*/
/*                                Portfolio Page Section
/*--------------------------------********************------------------------*/
.portfolio-section {
    padding: 80px 0 0;
    @extend %portfolio-team;
}

.portfolio-testimonial-section {
    padding: 50px 0;
    @extend %testimonial-section;
}

.portfolio-price-section {
    padding: 40px 0 100px;
    @extend %price-section;
}

/*--------------------------------********************------------------------*/
/*                                Contact Page Section
/*--------------------------------********************------------------------*/
.contact-form {
    padding: 90px 0 30px;

    .contact-header-txt {
        width: 50%;
        margin: auto;

        @media screen and (max-width: 576px) {
            width: 90%;
        }

        h2 {
            text-align: center;

            span {
                color: $primary-color;
            }

            @media screen and (max-width: 576px) {
                font-size: 25px;
            }
        }
    }

    .input-field {
        padding: 50px;

        form {
            button {
                padding: 12px 20px;
                margin: auto;
                display: block;
            }
        }
    }
}

.contact-details {
    padding: 5px 0 100px;

    .contact-txt {
        box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
        padding: 45px;
        text-align: center;
        border-bottom: 3px solid $primary-color;
        border-radius: 5px;
        margin-top: 15px;

        h3 {
            font-size: 22px;
            margin-bottom: 15px;
        }
    }
}