body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #828181;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: #404040;
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

h4 {
  font-size: 35px;
}

p {
  font-family: "Quicksand", sans-serif;
  color: #828181;
  font-size: 14px;
  line-height: 24px;
}

.btn {
  background: #2a57e6;
  color: #ffffff;
}

.active {
  color: #0b3feb !important;
}

/*-------------------------------*/
/*        Navbar
/*-------------------------------*/
.navbar .navbar-brand, .footer .footer-content1 .footer-logo {
  display: inline-block;
  width: 200px;
  height: 50px;
  color: #ffffff;
  line-height: 2;
}

.navbar .navbar-brand .txt, .footer .footer-content1 .footer-logo .txt {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #2a57e6;
  color: #ffffff;
  line-height: 1.5;
  padding: 2px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #2a57e6;
  font-weight: 600;
}

.navbar .navbar-brand .txt2, .footer .footer-content1 .footer-logo .txt2 {
  color: #2a57e6;
  font-size: 20px;
  display: inline-block;
  margin-left: 3px;
  font-weight: 600;
}

.navbar {
  padding: 8px 0;
  background: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar .navbar-brand {
  color: black;
  margin-left: 10px;
}

.navbar .navbar-toggler {
  color: #333333;
  border-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:hover {
  outline: none;
}

.navbar .navbar-toggler .fas {
  color: #000912;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-nav {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .navbar .navbar-nav .nav-item {
    padding: 12px 0;
  }
}

.navbar .navbar-nav .nav-item .gtStart {
  padding: 6px 28px;
  background: #fff;
  color: #2a57e6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-item .gtStart:hover {
  background: #2a57e6;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-nav .nav-item .gtStart {
    margin-right: 20px;
    font-size: 18px;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #404040;
  font-weight: 500;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0b3feb;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  margin-right: 30px;
}

.navbar .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #505050;
  margin-top: 4px;
}

/*-------------------------------*/
/*      Sticky Navbar
/*-------------------------------*/
.nav-scroll {
  background: #fff;
  padding: 6px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #000000;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
          box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
}

.nav-scroll .navbar-nav .nav-item .gtStart {
  background: #2a57e6;
  color: #fff;
}

.nav-scroll .navbar-nav .nav-item .nav-link {
  color: #111 !important;
}

.nav-scroll .navbar-toggler .icon-bar {
  background: #111;
}

/*-------------------------------*/
/*        Header
/*-------------------------------*/
.header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url(../images/header-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
  .header {
    background-image: none;
    height: 665px;
  }
}

.header .wraper {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .wraper .item .header-txt {
  margin-top: 200px;
}

.header .wraper .item .header-txt h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .header .wraper .item .header-txt h1 {
    font-size: 35px;
    text-align: center;
  }
}

.header .wraper .item .header-txt p {
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .header .wraper .item .header-txt p {
    font-size: 16px;
    text-align: center;
  }
}

.header .wraper .item .header-txt span {
  color: #2a57e6;
}

.header .wraper .item .header-txt button {
  padding: 12px 20px;
}

@media screen and (max-width: 576px) {
  .header .wraper .item .header-txt button {
    margin: auto;
    display: block;
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .header .wraper .item .header-txt {
    margin-top: 20px;
  }
}

.header .wraper .item .header-img {
  margin-top: 120px;
}

@media screen and (max-width: 576px) {
  .header .wraper .item .header-img {
    margin-top: 70px;
  }
}

.header .wraper .item .header-img img {
  width: 100%;
}

/*-------------------------------*/
/*        Brand
/*-------------------------------*/
.brands {
  padding: 70px 0;
}

.brands .owl-carousel .item img {
  display: block;
  width: auto !important;
  margin: auto;
}

/*-------------------------------*/
/*        About Section
/*-------------------------------*/
.about .about-txt, .services .service-header-txt, .portfolio .portfolio-headerTxt, .news-post .news-post-headerText, .service-detail .service-header-txt {
  width: 45%;
  margin: auto;
  text-align: center;
}

.about .about-txt p, .services .service-header-txt p, .portfolio .portfolio-headerTxt p, .news-post .news-post-headerText p, .service-detail .service-header-txt p {
  width: 65%;
  margin: auto;
}

.about {
  padding: 70px 0px;
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
}

.about .video-icon i {
  position: absolute;
  top: 51%;
  left: 43%;
  font-size: 50px;
  color: #2a57e6;
}

@media screen and (max-width: 576px) {
  .about {
    background-image: none;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 576px) {
  .about .about-txt {
    width: 100%;
  }
}

.about .about-txt h2 {
  font-weight: 600;
  line-height: 1.3;
}

@media screen and (max-width: 576px) {
  .about .about-txt h2 {
    font-size: 25px;
  }
}

.about .about-txt span {
  color: #2a57e6;
}

.about .about-txt p {
  width: 65%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .about .about-txt p {
    width: 79%;
  }
}

.about .about-img {
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  .about .about-img {
    margin-top: 20px;
  }
}

.about .about-img img {
  width: 100%;
}

.about .about-txt2 {
  margin-top: 140px;
}

@media screen and (max-width: 576px) {
  .about .about-txt2 {
    margin-top: 0px;
  }
}

.about .about-txt2 h2 {
  margin: 10px 0;
}

@media screen and (max-width: 576px) {
  .about .about-txt2 h2 {
    font-size: 25px;
  }
}

.about .about-txt2 small {
  color: #2a57e6;
  font-size: 14px;
  font-weight: bold;
}

.about .about-txt2 button {
  padding: 12px 20px;
}

/*-------------------------------*/
/*        Our Services
/*-------------------------------*/
.services {
  padding: 70px 0;
  background-image: url(../images/service-bg.jpg);
  background-size: contain;
}

@media screen and (max-width: 576px) {
  .services {
    background-image: none;
  }
}

@media screen and (max-width: 576px) {
  .services .service-header-txt {
    width: 90%;
  }
}

.services .service-header-txt h2 {
  line-height: 1.4;
}

@media screen and (max-width: 576px) {
  .services .service-header-txt h2 {
    font-size: 25px;
  }
}

.services .service-header-txt small {
  color: #2a57e6;
  font-weight: bold;
  font-size: 14px;
}

.services .service-header-txt p {
  width: 55%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .services .service-header-txt p {
    width: 85%;
  }
}

.services .service-box {
  padding: 30px 0;
}

@media screen and (max-width: 576px) {
  .services .service-box {
    padding: 10px;
  }
}

.services .service-box .service-content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 25px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
          box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
  border-radius: 8px;
  margin: 15px;
}

.services .service-box .service-content .icon-wrap {
  color: #2c57e4;
  font-size: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
}

.services .service-box .service-content .icon-wrap i {
  z-index: 2;
  font-size: 35px;
}

.services .service-box .service-content svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
}

.services .service-box .service-content .servivce-txt {
  padding: 0 0 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services .service-box .service-content .servivce-txt h4 {
  font-size: 22px;
}

.services .service-box .service-content .servivce-txt a {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  color: #2c57e4;
}

.services .service-box .service-content .servivce-txt a::after {
  content: '';
  display: block;
  width: 30%;
  height: 2px;
  background: #2c57e4;
  -webkit-transition: width .3s;
  transition: width .3s;
  margin: auto;
}

.services .service-box .service-content:hover a {
  color: #fff;
}

.services .service-box .service-content:hover a::after {
  width: 100%;
  background: #ffffff;
}

.services .service-box .service-content:hover {
  background: #2a57e6;
}

.services .service-box .service-content:hover .servivce-txt h4,
.services .service-box .service-content:hover .servivce-txt p {
  color: #fff;
}

.services .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

/*-------------------------------*/
/*       Testimonial Section
/*-------------------------------*/
.testimonial {
  background-image: url(../images/testimonial-bg.jpg);
  padding: 30px 0 70px;
}

.testimonial .testimonial-headTxtImg {
  margin-top: 30px;
}

.testimonial .testimonial-headTxtImg small {
  color: #2a57e6;
  font-weight: bold;
  font-size: 14px;
}

.testimonial .testimonial-headTxtImg h2 {
  padding: 8px 0;
  line-height: 1.3;
}

@media screen and (max-width: 576px) {
  .testimonial .testimonial-headTxtImg h2 {
    font-size: 25px;
  }
}

.testimonial .testimonial-headTxtImg .t-image ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testimonial .testimonial-headTxtImg .t-image ul li {
  display: inline-block;
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .testimonial .testimonial-headTxtImg .t-image ul li {
    margin-right: 0px;
    width: 64px;
  }
}

.testimonial .testimonial-headTxtImg .t-image ul li a {
  text-decoration: none;
}

.testimonial .testimonial-headTxtImg .t-image ul li a img {
  width: 100%;
}

.testimonial .testimonial-txt {
  background-image: url(../images/t-slider-bg.png);
  background-size: 100% 100%;
}

.testimonial .testimonial-txt .textmoTxt {
  padding: 110px;
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  .testimonial .testimonial-txt .textmoTxt {
    padding: 25px;
    margin-top: 75px;
  }
  .testimonial .testimonial-txt .textmoTxt p {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .testimonial .testimonial-txt .textmoTxt .testDetail h5 {
    font-size: 18px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  .testimonial .testimonial-txt .textmoTxt .testDetail p {
    font-size: 10px;
    margin-left: 20px;
  }
}

.testimonial .testimonial-txt .owl-theme .owl-nav {
  position: absolute;
  top: 60%;
  left: 60%;
}

.testimonial .testimonial-txt .owl-theme .owl-nav:hover {
  background: transparent !important;
  color: #333333 !important;
}

.testimonial .testimonial-txt .owl-theme .owl-nav button i {
  font-size: 30px;
}

@media screen and (max-width: 576px) {
  .testimonial .testimonial-txt .owl-theme .owl-nav button i {
    font-size: 20px;
  }
}

.testimonial .testimonial-txt .owl-theme .owl-nav button:hover, .testimonial .testimonial-txt .owl-theme .owl-nav button:focus, .testimonial .testimonial-txt .owl-theme .owl-nav button:active {
  background-color: transparent;
  color: #333333;
  outline: none;
}

@media screen and (max-width: 576px) {
  .testimonial .testimonial-txt .owl-theme .owl-nav {
    position: absolute;
    top: 75%;
    left: 40%;
  }
}

/*-------------------------------*/
/*       Portfolio Section
/*-------------------------------*/
.portfolio {
  padding: 70px 0 30px;
  background-image: url(../images/portfolio-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .portfolio {
    background-image: none;
    padding: 70px 0 30px;
  }
}

.portfolio .portfolio-headerTxt .title {
  color: #2a57e6;
  font-weight: bold;
}

.portfolio .portfolio-headerTxt p {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .portfolio .portfolio-headerTxt h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio .portfolio-headerTxt {
    width: 90%;
  }
}

.portfolio .portfolio-images {
  padding: 30px 0;
}

.portfolio .portfolio-images .card {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
}

.portfolio .portfolio-images .card-body {
  padding: 18px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
}

.portfolio .portfolio-images .card-body p {
  margin-bottom: 0;
}

.portfolio .portfolio-images a {
  padding: 12px 20px;
  margin: 35px auto;
  display: block;
  width: 135px;
}

/*-------------------------------*/
/*       Price & Plan Section
/*-------------------------------*/
.price-plan {
  background-image: url(../images/price-bg.jpg);
  background-size: contain;
  padding: 50px 0 70px;
}

.price-plan .plan-txt .title {
  color: #2a57e6;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .price-plan .plan-txt h2 {
    font-size: 25px;
  }
}

.price-plan .plan-txt a {
  padding: 12px;
}

.price-plan .price1 {
  padding: 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
  border-right: 3px solid #2a57e6;
  border-bottom: 2px solid #2a57e6;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .price-plan .price1 {
    margin-top: 30px;
  }
}

.price-plan .price1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
}

.price-plan .price1 .title i {
  font-size: 30px;
  color: #2a57e6;
}

.price-plan .price1 .title h4 {
  color: #2a57e6;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.price-plan .price1 h2 {
  font-size: 30px;
  font-weight: bolder;
}

.price-plan .price1 h2 span {
  font-size: 18px;
  color: #828181;
}

.price-plan .price1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.price-plan .price1 ul li {
  margin-top: 5px;
  font-size: 14px;
  color: #828181;
  font-weight: 500;
}

.price-plan .price1 p {
  margin-top: 50px;
}

.price-plan .price1 p span {
  color: red;
  font-weight: bold;
}

/*-------------------------------*/
/*       News Post Section
/*-------------------------------*/
.news-post {
  padding: 100px 0 70px;
  background-image: url(../images/news-bg.jpg);
}

@media screen and (max-width: 576px) {
  .news-post .news-post-headerText {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .news-post .news-post-headerText h2 {
    font-size: 25px;
  }
}

.news-post .news-post-headerText .title {
  color: #2a57e6;
  font-weight: bold;
}

.news-post .news-post-headerText p {
  width: 65%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .news-post .news-post-headerText p {
    width: 75%;
  }
}

.news-post .news-content .card {
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-post .news-content .card img {
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-post .news-content .news-details {
  margin-top: 45px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
}

.news-post .news-content .news-details .card-body .dt {
  color: #2a57e6;
}

.news-post .news-content .news-details .card-body a {
  color: #2a57e6;
  font-weight: bold;
  text-decoration: none;
}

.news-post .news-content .news-details .card-body a::after {
  content: "";
  width: 5%;
  height: 2px;
  background: #2a57e6;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-post .news-content .news-details:hover .card-body a::after {
  content: "";
  width: 23%;
  height: 2px;
  background: #2a57e6;
  display: block;
}

.news-post .news-content .news-details:hover .card-body h5 {
  color: #2a57e6;
  font-weight: bold;
}

/*-------------------------------*/
/*       Footer Section
/*-------------------------------*/
.footer {
  padding: 70px 0 0;
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .footer {
    background-image: none;
    padding: 35px 0 0;
  }
}

.footer .footer-content1 p {
  padding: 8px 0;
  margin-right: 20px;
}

.footer .footer-content1 .footer-icons {
  margin-top: 25px;
}

.footer .footer-content1 .footer-icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .footer-content1 .footer-icons ul li:not(:first-child) {
  margin-left: 15px;
}

.footer .footer-content1 .footer-icons ul li {
  float: left;
}

.footer .footer-content1 .footer-icons ul li a {
  text-decoration: none;
  display: inline-block;
}

.footer .footer-content1 .footer-icons ul li a i {
  background: #e6ecfc;
  padding: 12px;
  border-radius: 50%;
  color: #333333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .footer-content1 .footer-icons ul li a i:hover {
  background: #2a57e6;
  color: #fff;
}

.footer .footer-heading, .footer .footer-content2 h5, .footer .footer-content3 h5 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 23px;
}

@media screen and (max-width: 576px) {
  .footer .footer-heading, .footer .footer-content2 h5, .footer .footer-content3 h5 {
    font-size: 20px;
    margin-top: 40px;
  }
}

.footer .footer-content2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .footer-content2 ul li {
  margin-top: 7px;
}

.footer .footer-content2 ul li a {
  text-decoration: none;
  color: #828181;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer .footer-content2 ul li a:hover {
  color: #2a57e6;
}

.footer .footer-content3 p {
  margin-bottom: 30px;
}

.footer .footer-content3 .input-group input {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.13);
}

.footer .footer-content3 .input-group .input-group-append .input-group-text {
  background: #2a57e6;
  border-color: #2a57e6;
}

.footer .footer-content3 .input-group .input-group-append a {
  text-decoration: none;
}

.footer .footer-content3 .input-group .input-group-append a i {
  font-size: 20px;
  color: #ffffff;
}

.footer .footer-txt {
  text-align: center;
  padding: 20px 0 5px;
  margin-top: 100px;
  border-top: 1px solid #f3f2f2;
}

@media screen and (max-width: 576px) {
  .footer .footer-txt {
    margin-top: 60px;
  }
}

.scroll-top {
  width: 44px;
  line-height: 44px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: none;
  background: #2c57e4;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/*--------------------------------********************------------------------*/
/*                                   About Us Page
/*--------------------------------********************------------------------*/
.header2 {
  height: 400px;
  width: 100%;
  margin-top: 60px;
  overflow: hidden;
  background-image: url(../images/page-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.header2 .head-txt {
  margin-top: 130px;
  text-align: center;
}

.header2 .head-txt h1 {
  font-size: 45px;
}

@media screen and (max-width: 576px) {
  .header2 .head-txt h1 {
    font-size: 40px;
  }
}

.header2 .head-txt h1 span {
  color: #2a57e6;
}

.header2 .head-txt p {
  font-size: 16px;
  color: #2a57e6;
}

.header2 .head-txt p a {
  text-decoration: none;
  color: #333333;
}

.about-mission-vision {
  padding: 70px 0;
}

.about-mission-vision .abt-mis-vis-content .title {
  color: #2a57e6;
  margin-bottom: 5px;
  font-weight: bold;
}

.about-mission-vision .abt-mis-vis-content h2 {
  padding: 0 0 20px;
}

@media screen and (max-width: 576px) {
  .about-mission-vision .abt-mis-vis-content h2 {
    font-size: 25px;
  }
}

/*--------------------------------********************------------------------*/
/*                                    Services Page Section
/*--------------------------------********************------------------------*/
.service-detail {
  padding: 70px 0 120px;
}

@media screen and (max-width: 576px) {
  .service-detail .service-header-txt {
    width: 90%;
  }
}

.service-detail .service-header-txt h2 {
  line-height: 1.4;
}

@media screen and (max-width: 576px) {
  .service-detail .service-header-txt h2 {
    font-size: 25px;
  }
}

.service-detail .service-header-txt p {
  width: 55%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .service-detail .service-header-txt p {
    width: 85%;
  }
}

.service-detail .service-content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 25px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
          box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
  border-radius: 8px;
  margin-top: 25px;
}

.service-detail .service-content:hover {
  background: #2a57e6;
}

.service-detail .service-content:hover h4,
.service-detail .service-content:hover p {
  color: #fff;
}

.service-detail .service-content:hover .servivce-txt a {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-detail .service-content:hover .servivce-txt a::after {
  width: 25%;
  background-color: #ffffff;
}

.service-detail .service-content .icon-wrap {
  color: #2a57e6;
  font-size: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
}

.service-detail .service-content .icon-wrap i {
  z-index: 2;
  font-size: 35px;
}

.service-detail .service-content .icon-wrap svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
}

.service-detail .service-content .servivce-txt {
  padding: 0 0 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-detail .service-content .servivce-txt h4 {
  font-size: 22px;
}

.service-detail .service-content .servivce-txt a {
  color: #2a57e6;
  font-weight: bold;
  text-decoration: none;
}

.service-detail .service-content .servivce-txt a::after {
  content: '';
  display: block;
  margin: auto;
  width: 8%;
  height: 2px;
  background-color: #2a57e6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*--------------------------------********************------------------------*/
/*                                Contact Page Section
/*--------------------------------********************------------------------*/
.contact-form {
  padding: 80px 0 30px;
}

.contact-form .contact-header-txt {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .contact-form .contact-header-txt {
    width: 90%;
  }
}

.contact-form .contact-header-txt h2 {
  text-align: center;
}

.contact-form .contact-header-txt h2 span {
  color: #2a57e6;
}

@media screen and (max-width: 576px) {
  .contact-form .contact-header-txt h2 {
    font-size: 25px;
  }
}

.contact-form .input-field {
  padding: 50px;
}

.contact-form .input-field form button {
  padding: 12px 20px;
  margin: auto;
  display: block;
}

.contact-details {
  padding: 0 0 60px;
}

.contact-details .contact-txt {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
          box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.08);
  padding: 45px;
  text-align: center;
  border-bottom: 3px solid #2a57e6;
  border-radius: 5px;
  margin-top: 15px;
}

.contact-details .contact-txt h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style1.css.map */